# Environment / Workspace-specific Files
venv/
.env
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/
.coverage

# Debugging/Test Scripts
debug_entries.py
test_solver.py

# Project Plan
project_plan.md
implementation_notes.md

# Gemini Ignore
.geminiignore

# Misc.
implement_data_loader.md
Streamlit-skeleton.py
todo.md
nba-dfs-optimizer.code-workspace
exports/