# Environment / Workspace-specific Files
venv/
.env
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/
.coverage
*.egg-info/

# Misc.
nba-dfs-optimizer.code-workspace
example_projs/
run_optimizer_pysimplegui.py